<h4>SimplyPrint</h4>

<p data-bind="visible: settingsViewModel.settings.plugins.SimplyPrint.sp_local_installed">
    {{ _("It looks like SimplyPrint Local has already been installed, you probably don't need to do anything here") }}
</p>
<button type="button" class="btn btn-primary" data-bind="click: doSetup, enable: !requestInProgress()">
    <i class="fa" data-bind="css: {'fa-spinner fa-spin' : requestInProgress()}"></i>
    {{ _("Setup SimplyPrint Local") }}
</button>
<button type="button" class="btn btn-danger" data-bind="click: doUninstall, enable: !requestInProgress()">
    <i class="fa" data-bind="css: {'fa-spinner fa-spin' : requestInProgress()}"></i>
    {{ _("Uninstall SimplyPrint Local") }}
</button>
