<div id="simplyprint_plugin_navbar">
    <div class="nav navbar-text">
        <img alt="SimplyPrint logo (all rights reserved)" src="plugin/SimplyPrint/static/img/sp_logo.png" title="SimplyPrint active" style="width: 28px;">

        <strong>
            <span id="simplyprint_version_wrapper" style="display:none;">v<span id="simplyprint_version"></span></span>
        </strong>

        <div id="simplyprint_loading_info">
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        </div>
        <div id="simplyprint_is_set_up" style="display:none;">
            <span id="simplyprint_printer_name"></span>
            <!--[<span id="simplyprint_printer_id"></span>]-->
        </div>
        <div id="simplyprint_not_set_up" style="display:none;">
            <i class="fa fa-times" style="color:red;" aria-hidden="true"></i>
            Setup code: <div id="simplyprint_short_setup_code" class="splcd dot-flashing"></div>
        </div>
        <span id="simplyprint_not_installed" style="display:none;">
            <a href="#" data-bind="click: function(){ settingsViewModel.show('#settings_plugin_SimplyPrint'); }"><i class="fa fa-times" style="color:red;" aria-hidden="true"></i><b>{{ _("Not installed! Click here") }}</b></a>
        </span>
    </div>
</div>