<!--<h4>SimplyPrint Install</h4>
<div class="row-fluid">
	<p>The SimplyPrint system requires the installation of additional files on your system. This installation requires your pi user's password and will modify your pi's hostname and set-up some cron jobs...</p>
	<p>To continue please enter your password below and press the Install button. Your Pi will be rebooted as part of the install process. Your password will not be stored or transferred in any way.</p>
	<div class="input-append"><input type="password" class="input" id="SimplyPrintPassword"/><span class="btn add-on" data-bind="click: InstallSimplyPrintRequest">Install</span></div>
</div>
<div class="row-fluid">
	<p data-bind="text: settingsViewModel.settings.plugins.SimplyPrint.printer_name"></p>
	<p data-bind="text: settingsViewModel.settings.plugins.SimplyPrint.printer_id"></p>
	<p data-bind="text: settingsViewModel.settings.plugins.SimplyPrint.rpi_id"></p>
	<p data-bind="text: settingsViewModel.settings.plugins.SimplyPrint.simplyprint_version"></p>
</div>-->
<h4>Not much to see here just yet! <i>(coming soon)</i></h4>